:root {
    --bluedark: #26255D;
    --orengedark: linear-gradient(89.83deg, #F2994A -6.21%, #ED6E2D 113.9%);
    --white: #ffffff;
    --textcolor: #3F3D6B;
    --textcolororengebg: #232323;
    --formbg:rgb(245, 245, 245);
    --formslabelsclr:rgb(153, 152, 152);
    --inptextclr:rgb(194, 193, 193);
    --bgLightOrange:#faf2eb;
}